# Dependencies
node_modules/

# Next.js
.next/
out/

# Turborepo
.turbo/

.vscode/

# Environment
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel
.agents

# typescript
*.tsbuildinfo
next-env.d.ts
